# Imports

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

In [ ]:
import numpy as np
import pandas as pd
# !pip install sweetviz
# import sweetviz as sv

In [ ]:
# Import data from csv-file stored on Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Sensors Data Pre processing

In [ ]:
#Reading the bucketed telematics data
sensor_bucket_path = "/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_bucket.csv"
sensor_headers=['id','measurement_value','device_mongo_id','start_date','end_date','min','max','sum','longitude','latitude','n_measurements']
sensor_bucket_chunk=pd.read_csv(sensor_bucket_path,engine='python',encoding='latin-1',sep=';',chunksize=100000,header=None, names=sensor_headers)

In [ ]:
sensor_bucket=pd.concat(sensor_bucket_chunk)

In [ ]:
sensor_bucket

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
0,ï»¿2406527,6,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,114457322,114460341,11903845101,11.102943,53.299717,104
1,2406528,7,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,23838206,23844099,2479675789,11.102943,53.299717,104
2,2406526,66,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,1,25,11.102943,53.299717,104
3,2406530,121,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
4,2406532,173,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
...,...,...,...,...,...,...,...,...,...,...,...
31920427,21421296,121,62f0f724e4b03b515e4f1a9f,2022-08-28 06:00:35.000,2022-08-28 08:21:42.000,0,0,0,NaN,NaN,4
31920428,21421295,173,62f0f724e4b03b515e4f1a9f,2022-08-28 06:00:35.000,2022-08-28 08:21:42.000,0,0,0,NaN,NaN,4
31920429,21421293,6,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,98659307,98659307,98659307,NaN,NaN,1
31920430,21421294,7,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,965616,965616,965616,NaN,NaN,1
31920431,21421297,190,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,165,165,165,NaN,NaN,1

In [ ]:
sensor_bucket.head(20)

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
0,ï»¿2406527,6,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,114457322,114460341,11903845101,11.102943,53.299717,104
1,2406528,7,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,23838206,23844099,2479675789,11.102943,53.299717,104
2,2406526,66,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,1,25,11.102943,53.299717,104
3,2406530,121,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
4,2406532,173,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
5,2406531,122,57ac44610bc3dc434a8a4366,2017-03-23 14:54:49.000,2017-03-23 15:08:26.000,1,13,344,11.102953,53.299706,29
6,2406525,176,57ac44610bc3dc434a8a4366,2017-03-23 14:55:04.000,2017-03-23 15:08:26.000,5800,5800,139200,11.102953,53.299706,24
7,2406529,344,57ac44610bc3dc434a8a4366,2017-03-23 14:55:04.000,2017-03-23 15:08:26.000,5800,5800,139200,11.102953,53.299706,24
8,2406687,6,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,114460191,114460352,10988185567,11.102947,53.299700,96
9,2406688,7,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,23843285,23843510,2288966548,11.102947,53.299700,96
10,2406685,66,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
11,2406689,121,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
12,2406690,173,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
13,2406978,6,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,114460180,114460369,15223215075,11.102940,53.299725,133
14,2406979,7,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,23843328,23843519,3171173519,11.102940,53.299725,133
15,2406977,66,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,1,27,11.102940,53.299725,133
16,2406981,121,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,0,0,11.102940,53.299725,133
17,2406983,173,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,0,0,11.102940,53.299725,133
18,2406982,122,57ac44610bc3dc434a8a4366,2017-03-25 10:24:10.000,2017-03-25 11:27:52.000,12,14,443,11.102952,53.299717,33
19,2406976,176,57ac44610bc3dc434a8a4366,2017-03-25 10:24:10.000,2017-03-25 11:27:52.000,5800,5900,192900,11.102952,53.299717,33

In [ ]:
sensor_bucket.tail()

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
31920427,21421296,121,62f0f724e4b03b515e4f1a9f,2022-08-28 06:00:35.000,2022-08-28 08:21:42.000,0,0,0,NaN,NaN,4
31920428,21421295,173,62f0f724e4b03b515e4f1a9f,2022-08-28 06:00:35.000,2022-08-28 08:21:42.000,0,0,0,NaN,NaN,4
31920429,21421293,6,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,98659307,98659307,98659307,NaN,NaN,1
31920430,21421294,7,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,965616,965616,965616,NaN,NaN,1
31920431,21421297,190,62f0f724e4b03b515e4f1a9f,2022-08-28 08:18:50.000,2022-08-28 08:18:50.000,165,165,165,NaN,NaN,1

In [ ]:
sensor_bucket.shape

(31920432, 11)

In [ ]:
sensor_bucket.isnull().sum() * 100 / len(sensor_bucket)

id                   0.000000
measurement_value    0.000000
device_mongo_id      0.000000
start_date           0.000000
end_date             0.000000
min                  0.000000
max                  0.000000
sum                  0.000000
longitude            6.366427
latitude             6.366427
n_measurements       0.000000
dtype: float64

In [ ]:
sensor_bucket.dtypes

id                    object
measurement_value      int64
device_mongo_id       object
start_date            object
end_date              object
min                    int64
max                    int64
sum                    int64
longitude            float64
latitude             float64
n_measurements         int64
dtype: object

In [ ]:
sensor_bucket[(sensor_bucket['measurement_value']==241)]

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
20971,2717564,241,57ac44610bc3dc434a8a4366,2021-04-21 04:05:44.000,2021-04-21 16:19:26.000,1,13,117,9.82595,55.91611,18
20986,2723574,241,57ac44610bc3dc434a8a4366,2021-04-22 17:20:37.000,2021-04-22 18:38:00.000,1,24,281,9.16376,55.47412,73
21042,2725832,241,57ac44610bc3dc434a8a4366,2021-04-28 14:12:43.000,2021-04-28 15:35:35.000,3,9,36,9.82521,55.91629,5
21060,2726024,241,57ac44610bc3dc434a8a4366,2021-04-29 12:42:46.000,2021-04-29 15:50:33.000,2,59,295,8.48431,55.45279,11
21128,2727326,241,57ac44610bc3dc434a8a4366,2021-05-06 20:43:07.000,2021-05-06 20:47:35.000,4,11,15,8.49707,55.46124,2
...,...,...,...,...,...,...,...,...,...,...,...
31920079,21419337,241,6202142fe4b040fb848034c3,2022-08-23 05:37:32.000,2022-08-23 18:22:38.000,1,73,2185,14.09922,57.34894,111
31920095,21419519,241,6202142fe4b040fb848034c3,2022-08-24 05:57:41.000,2022-08-24 17:32:46.000,1,44,838,18.09606,59.31652,68
31920104,21419735,241,6202142fe4b040fb848034c3,2022-08-25 04:37:50.000,2022-08-25 16:12:54.000,1,66,1887,22.22888,60.43374,110
31920126,21419924,241,6202142fe4b040fb848034c3,2022-08-26 04:32:59.000,2022-08-26 16:08:02.000,1,79,3429,12.85502,56.19484,123
31920140,21420147,241,6202142fe4b040fb848034c3,2022-08-27 05:22:03.000,2022-08-27 06:22:03.000,1,1,14,12.85496,56.19490,14

In [ ]:
sensor_bucket[sensor_bucket['longitude'].isnull()]['n_measurements'].value_counts()

1       345151
97       80208
4        47582
108      46393
109      39311
         ...
1618         1
4451         1
917          1
8784         1
919          1
Name: n_measurements, Length: 1822, dtype: int64

In [ ]:
# to clean unwanted characters
sensor_bucket.iloc[0,0]=sensor_bucket.iloc[0,0][3:]

In [ ]:
sensor_bucket.head(20)

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
0,2406527,6,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,114457322,114460341,11903845101,11.102943,53.299717,104
1,2406528,7,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,23838206,23844099,2479675789,11.102943,53.299717,104
2,2406526,66,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,1,25,11.102943,53.299717,104
3,2406530,121,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
4,2406532,173,57ac44610bc3dc434a8a4366,2017-03-23 07:11:54.000,2017-03-23 23:45:00.000,0,0,0,11.102943,53.299717,104
5,2406531,122,57ac44610bc3dc434a8a4366,2017-03-23 14:54:49.000,2017-03-23 15:08:26.000,1,13,344,11.102953,53.299706,29
6,2406525,176,57ac44610bc3dc434a8a4366,2017-03-23 14:55:04.000,2017-03-23 15:08:26.000,5800,5800,139200,11.102953,53.299706,24
7,2406529,344,57ac44610bc3dc434a8a4366,2017-03-23 14:55:04.000,2017-03-23 15:08:26.000,5800,5800,139200,11.102953,53.299706,24
8,2406687,6,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,114460191,114460352,10988185567,11.102947,53.299700,96
9,2406688,7,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,23843285,23843510,2288966548,11.102947,53.299700,96
10,2406685,66,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
11,2406689,121,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
12,2406690,173,57ac44610bc3dc434a8a4366,2017-03-24 00:00:00.000,2017-03-24 23:45:00.000,0,0,0,11.102947,53.299700,96
13,2406978,6,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,114460180,114460369,15223215075,11.102940,53.299725,133
14,2406979,7,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,23843328,23843519,3171173519,11.102940,53.299725,133
15,2406977,66,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,1,27,11.102940,53.299725,133
16,2406981,121,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,0,0,11.102940,53.299725,133
17,2406983,173,57ac44610bc3dc434a8a4366,2017-03-25 00:00:00.000,2017-03-25 23:45:00.000,0,0,0,11.102940,53.299725,133
18,2406982,122,57ac44610bc3dc434a8a4366,2017-03-25 10:24:10.000,2017-03-25 11:27:52.000,12,14,443,11.102952,53.299717,33
19,2406976,176,57ac44610bc3dc434a8a4366,2017-03-25 10:24:10.000,2017-03-25 11:27:52.000,5800,5900,192900,11.102952,53.299717,33

In [ ]:
sensor_bucket['id'].nunique()

31920432

In [ ]:
# Reading sensor factors data
sensor_factors_path = "/content/drive/MyDrive/Colab Notebooks/KRONE/NFZ-Sensor Factors.csv"
sensor_factors=pd.read_csv(sensor_factors_path,engine='python',encoding='latin-1',sep=';')
sensor_factors

,ï»¿measurement_value,max,factor,description,type
0,9,NaN,1.000000e+00,Direction,Integer
1,11,NaN,1.000000e+00,Speed,Integer
2,16,2.147484e+09,4.700000e-08,BD_MAX_VOLTAGE,Double
3,66,NaN,1.000000e+00,coupled,Boolean
4,73,NaN,1.000000e+00,VH_ID,String || List
5,103,NaN,1.000000e+00,gpsSatellites,Integer
6,121,NaN,1.000000e+00,BD_EBS_OVERLOAD,Boolean
7,122,NaN,1.000000e+00,BD_EBS_BOOGIE_LOAD,Integer
8,123,NaN,1.000000e+00,BD_EBS_TRAILER_LOAD,Integer
9,124,NaN,1.000000e+00,BD_EBS_TOTAL_VEHICLE_DISTANCE,Integer
10,131,NaN,1.000000e+00,BD_EBS_CHASSIS_NUMBER,String || List
11,166,NaN,1.000000e+00,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,Integer
12,168,NaN,1.000000e+00,BD_EBS_RED_WARNING_SIGNAL,Boolean
13,169,2.147484e+09,4.700000e-08,BD_EBS_PRESSURE_DEMAND,Double
14,170,2.147484e+09,4.700000e-08,BD_EBS_POWER_SUPPLY_VOLTAGE,Double
15,172,NaN,1.000000e+00,BD_EBS_STOP_LIGHT_POWERED,Boolean
16,175,NaN,1.000000e+00,BD_EBS_AMBER_WARNING_SIGNAL,Boolean
17,176,NaN,1.000000e+00,BD_EBS_AXLE_LOAD_SUM,Integer
18,182,NaN,1.000000e+00,BD_EBS_LOADED,Boolean
19,187,NaN,1.000000e+00,BD_EVENTS,String || List
20,190,NaN,1.000000e+00,BD_GPS_HEIGHT,Integer
21,203,NaN,1.000000e+00,BD_ERRORS,String || List
22,214,2.147484e+09,4.700000e-08,BD_DISTANCE_MOVED,Double
23,218,2.147484e+09,4.700000e-08,BD_INTERNAL_BATTERY_VOLTAGE,Double
24,219,2.147484e+09,4.700000e-08,BD_EXTERNAL_BATTERY_VOLTAGE,Double
25,239,NaN,1.000000e+00,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,Integer
26,240,NaN,1.000000e+00,BD_EBS_NUMBER_OF_SPEED_MAINTAINING_BRAKE_EVENTS,Integer
27,241,NaN,1.000000e+00,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,Integer
28,242,NaN,1.000000e+00,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,Integer
29,243,NaN,1.000000e+00,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,Integer
30,244,NaN,1.000000e+00,BD_EBS_NUMBER_OF_UNKNOWN_BRAKE_EVENTS,Integer
31,245,NaN,1.000000e+00,BD_EBS_BRAKE_HISTOGRAM,String || List
32,246,NaN,1.000000e+00,BD_EBS_AVERAGE_BRAKE_PRESSURE,Integer
33,247,NaN,1.000000e+00,BD_EBS_CURRENT_DTCS,String || List
34,248,NaN,1.000000e+00,BD_EBS_LATCH_DTCS,String || List
35,249,NaN,1.000000e+00,BD_EBS_NUMBER_OF_ABS_EVENTS,Integer
36,250,NaN,1.000000e+00,BD_EBS_NUMBER_OF_RSS_EVENTS,Integer
37,318,NaN,1.000000e+00,BD_BATTERY_LEVEL_PERCENT,Integer
38,334,NaN,1.000000e+00,BD_IS_MOVING,Boolean
39,344,NaN,1.000000e+00,BD_EBS_AXLE_LOAD,Integer
40,387,2.147484e+09,4.700000e-08,BD_REEFER_SERIAL,Double
41,388,NaN,1.000000e+00,BD_REEFER_SERIAL,String || List
42,389,NaN,1.000000e+00,BD_REEFER_CONTROLLER_COMMUNICATION_ENABLED,Boolean
43,390,2.147484e+09,4.700000e-08,BD_REEFER_AVERAGE_SUPPLY_AIR,Double
44,5007,NaN,1.000000e+00,D_IS_RECEIVED_BY_KRONE_GATEWAY,Boolean

In [ ]:
sensors_list=list(sensor_bucket['measurement_value'].unique())
factors_filtered=sensor_factors[sensor_factors['ï»¿measurement_value'].isin(sensors_list)]
factors_filtered

,ï»¿measurement_value,max,factor,description,type
3,66,NaN,1.0,coupled,Boolean
6,121,NaN,1.0,BD_EBS_OVERLOAD,Boolean
7,122,NaN,1.0,BD_EBS_BOOGIE_LOAD,Integer
9,124,NaN,1.0,BD_EBS_TOTAL_VEHICLE_DISTANCE,Integer
11,166,NaN,1.0,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,Integer
17,176,NaN,1.0,BD_EBS_AXLE_LOAD_SUM,Integer
20,190,NaN,1.0,BD_GPS_HEIGHT,Integer
25,239,NaN,1.0,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,Integer
27,241,NaN,1.0,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,Integer
28,242,NaN,1.0,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,Integer
29,243,NaN,1.0,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,Integer
32,246,NaN,1.0,BD_EBS_AVERAGE_BRAKE_PRESSURE,Integer
35,249,NaN,1.0,BD_EBS_NUMBER_OF_ABS_EVENTS,Integer
39,344,NaN,1.0,BD_EBS_AXLE_LOAD,Integer

In [ ]:
set(sensors_list)-set(sensor_factors['ï»¿measurement_value'])

{2, 6, 7, 14, 101, 173}

In [ ]:
len(sensors_list)

20

In [ ]:
factors_filtered['ï»¿measurement_value'].nunique()

14

In [ ]:
sensors_list

[6,
 7,
 66,
 121,
 173,
 122,
 176,
 344,
 190,
 166,
 249,
 239,
 243,
 246,
 124,
 2,
 101,
 241,
 242,
 14]

In [ ]:
# # Choosing how many rows to take
# sensor_bucket=sensor_bucket.copy()

In [ ]:
sensor_bucket['start_date']=pd.to_datetime(sensor_bucket['start_date'],origin='unix').dt.floor('D')
sensor_bucket['end_date']=pd.to_datetime(sensor_bucket['end_date'],origin='unix').dt.floor('D')
sensor_bucket['latitude']=sensor_bucket['latitude'].round(2)
sensor_bucket['longitude']=sensor_bucket['longitude'].round(2)
sensor_bucket.head()

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
0,2406527,6,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,114457322,114460341,11903845101,11.1,53.3,104
1,2406528,7,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,23838206,23844099,2479675789,11.1,53.3,104
2,2406526,66,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,1,25,11.1,53.3,104
3,2406530,121,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,0,0,11.1,53.3,104
4,2406532,173,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,0,0,11.1,53.3,104

In [ ]:
keys=factors_filtered['ï»¿measurement_value']
values=factors_filtered['description']
sensors_dict = dict(zip(keys, values))

def sensor_names(val):
  if val in sensors_dict:
    return sensors_dict[val]
  else:
    return str(val)

print(sensors_dict)

{66: 'coupled', 121: 'BD_EBS_OVERLOAD', 122: 'BD_EBS_BOOGIE_LOAD', 124: 'BD_EBS_TOTAL_VEHICLE_DISTANCE', 166: 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED', 176: 'BD_EBS_AXLE_LOAD_SUM', 190: 'BD_GPS_HEIGHT', 239: 'BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS', 241: 'BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS', 242: 'BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS', 243: 'BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS', 246: 'BD_EBS_AVERAGE_BRAKE_PRESSURE', 249: 'BD_EBS_NUMBER_OF_ABS_EVENTS', 344: 'BD_EBS_AXLE_LOAD'}

In [ ]:
sensor_bucket['measurement_value']=sensor_bucket['measurement_value'].apply(sensor_names)
sensor_bucket.head(20)

,id,measurement_value,device_mongo_id,start_date,end_date,min,max,sum,longitude,latitude,n_measurements
0,2406527,6,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,114457322,114460341,11903845101,11.1,53.3,104
1,2406528,7,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,23838206,23844099,2479675789,11.1,53.3,104
2,2406526,coupled,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,1,25,11.1,53.3,104
3,2406530,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,0,0,11.1,53.3,104
4,2406532,173,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,0,0,0,11.1,53.3,104
5,2406531,BD_EBS_BOOGIE_LOAD,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,1,13,344,11.1,53.3,29
6,2406525,BD_EBS_AXLE_LOAD_SUM,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,5800,5800,139200,11.1,53.3,24
7,2406529,BD_EBS_AXLE_LOAD,57ac44610bc3dc434a8a4366,2017-03-23,2017-03-23,5800,5800,139200,11.1,53.3,24
8,2406687,6,57ac44610bc3dc434a8a4366,2017-03-24,2017-03-24,114460191,114460352,10988185567,11.1,53.3,96
9,2406688,7,57ac44610bc3dc434a8a4366,2017-03-24,2017-03-24,23843285,23843510,2288966548,11.1,53.3,96
10,2406685,coupled,57ac44610bc3dc434a8a4366,2017-03-24,2017-03-24,0,0,0,11.1,53.3,96
11,2406689,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-24,2017-03-24,0,0,0,11.1,53.3,96
12,2406690,173,57ac44610bc3dc434a8a4366,2017-03-24,2017-03-24,0,0,0,11.1,53.3,96
13,2406978,6,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,114460180,114460369,15223215075,11.1,53.3,133
14,2406979,7,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,23843328,23843519,3171173519,11.1,53.3,133
15,2406977,coupled,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,0,1,27,11.1,53.3,133
16,2406981,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,0,0,0,11.1,53.3,133
17,2406983,173,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,0,0,0,11.1,53.3,133
18,2406982,BD_EBS_BOOGIE_LOAD,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,12,14,443,11.1,53.3,33
19,2406976,BD_EBS_AXLE_LOAD_SUM,57ac44610bc3dc434a8a4366,2017-03-25,2017-03-25,5800,5900,192900,11.1,53.3,33

In [ ]:
sensor_bucket.duplicated().sum()

0

In [ ]:
sensor_bucket.drop(['id','min','max','end_date'],inplace=True,axis=1) # to get sum      # Exclude longitude and latitude later
#sensor_bucket.drop(['id','min','sum','end_date'],inplace=True,axis=1) # to get max
#sensor_bucket.drop(['id','sum','max','end_date'],inplace=True,axis=1) # to get min

sensor_bucket.head()

,measurement_value,device_mongo_id,start_date,sum,longitude,latitude,n_measurements
0,6,57ac44610bc3dc434a8a4366,2017-03-23,11903845101,11.1,53.3,104
1,7,57ac44610bc3dc434a8a4366,2017-03-23,2479675789,11.1,53.3,104
2,coupled,57ac44610bc3dc434a8a4366,2017-03-23,25,11.1,53.3,104
3,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104
4,173,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104

In [ ]:
sensor_bucket.duplicated().sum()

9336

In [ ]:
sensor_bucket.drop_duplicates(keep='first',ignore_index=True,inplace=True)

In [ ]:
sensor_bucket.head()

,measurement_value,device_mongo_id,start_date,sum,longitude,latitude,n_measurements
0,6,57ac44610bc3dc434a8a4366,2017-03-23,11903845101,11.1,53.3,104
1,7,57ac44610bc3dc434a8a4366,2017-03-23,2479675789,11.1,53.3,104
2,coupled,57ac44610bc3dc434a8a4366,2017-03-23,25,11.1,53.3,104
3,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104
4,173,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104

In [ ]:
sensor_bucket.duplicated().sum()

0

In [ ]:
# Only in case of SUM
# sensor_bucket.loc[:,'sum'] = sensor_bucket.loc[:,'sum'].div(sensor_bucket['n_measurements'], axis=0) #onlyfor sum
# sensor_bucket.head()

In [ ]:
sensor_bucket.isnull().sum() * 100 / len(sensor_bucket)

measurement_value    0.000000
device_mongo_id      0.000000
start_date           0.000000
sum                  0.000000
longitude            6.367967
latitude             6.367967
n_measurements       0.000000
dtype: float64

In [ ]:
sensor_bucket[ (sensor_bucket['measurement_value']=='BD_EBS_TOTAL_VEHICLE_DISTANCE') & (sensor_bucket['device_mongo_id']=='57ac44610bc3dc434a8a4366') ]['start_date'].nunique()

1534

In [ ]:
sensor_bucket['start_date'].nunique()

2083

In [ ]:
sensor_bucket.head()

,measurement_value,device_mongo_id,start_date,sum,longitude,latitude,n_measurements
0,6,57ac44610bc3dc434a8a4366,2017-03-23,11903845101,11.1,53.3,104
1,7,57ac44610bc3dc434a8a4366,2017-03-23,2479675789,11.1,53.3,104
2,coupled,57ac44610bc3dc434a8a4366,2017-03-23,25,11.1,53.3,104
3,BD_EBS_OVERLOAD,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104
4,173,57ac44610bc3dc434a8a4366,2017-03-23,0,11.1,53.3,104

In [ ]:
sensor_bucket_pivot=sensor_bucket.pivot(index=["device_mongo_id",'start_date',
                                               'longitude','latitude','n_measurements'
                                               ], 
           columns=["measurement_value"],
           values=['sum'])                    #sum


# sensor_bucket_pivot=sensor_bucket.pivot(index=["device_mongo_id",'start_date','longitude','latitude'], 
#            columns=["measurement_value"],
#            values=['max'])                    #'max'



# sensor_bucket_pivot=sensor_bucket.pivot(index=["device_mongo_id",'start_date','longitude','latitude'], 
#            columns=["measurement_value"],
#            values=['min'])                    #'min'           


sensor_bucket_pivot

                                                                      sum      \
measurement_value                                                     101  14
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24             NaN NaN
                                                       29             NaN NaN
                                                       104            NaN NaN
                         2017-03-24 11.1      53.3     96             NaN NaN
                         2017-03-25 11.1      53.3     33             NaN NaN
...                                                                    ..  ..
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12             NaN NaN
                                                       14             NaN NaN
                         2022-08-27 NaN       NaN      1              NaN NaN
                         2022-08-28 NaN       NaN      1              NaN NaN
                                                       4              NaN NaN

                                                                            \
measurement_value                                                      173
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24              NaN
                                                       29              NaN
                                                       104             0.0
                         2017-03-24 11.1      53.3     96              0.0
                         2017-03-25 11.1      53.3     33              NaN
...                                                                    ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12              NaN
                                                       14              0.0
                         2022-08-27 NaN       NaN      1               0.0
                         2022-08-28 NaN       NaN      1               NaN
                                                       4               0.0

                                                                                     \
measurement_value                                                                 2
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                       NaN
                                                       29                       NaN
                                                       104                      NaN
                         2017-03-24 11.1      53.3     96                       NaN
                         2017-03-25 11.1      53.3     33                       NaN
...                                                                             ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                       NaN
                                                       14             -9.044972e+09
                         2022-08-27 NaN       NaN      1              -5.722796e+08
                         2022-08-28 NaN       NaN      1                        NaN
                                                       4              -1.918499e+09

                                                                                     \
measurement_value                                                                 6
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                       NaN
                                                       29                       NaN
                                                       104             1.190385e+10
                         2017-03-24 11.1      53.3     96              1.098819e+10
                         2017-03-25 11.1      53.3     33                       NaN
...                                                                             ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12              1.170980e+09
                                                       14                       NaN
                         2022-08-27 NaN       NaN      1                        NaN
                         2022-08-28 NaN       NaN      1               9.865931e+07
                                                       4                        NaN

                                                                                     \
measurement_value                                                                 7
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                       NaN
                                                       29                       NaN
                                                       104             2.479676e+09
                         2017-03-24 11.1      53.3     96              2.288967e+09
                         2017-03-25 11.1      53.3     33                       NaN
...                                                                             ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12             -1.559739e+06
                                                       14                       NaN
                         2022-08-27 NaN       NaN      1                        NaN
                         2022-08-28 NaN       NaN      1               9.656160e+05
                                                       4                        NaN

                                                                                                     \
measurement_value                                                     BD_EBS_AVERAGE_BRAKE_PRESSURE
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                       NaN
                                                       29                                       NaN
                                                       104                                      NaN
                         2017-03-24 11.1      53.3     96                                       NaN
                         2017-03-25 11.1      53.3     33                                       NaN
...                                                                                             ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                       NaN
                                                       14                                       NaN
                         2022-08-27 NaN       NaN      1                                        NaN
                         2022-08-28 NaN       NaN      1                                        NaN
                                                       4                                        NaN

                                                                                        \
measurement_value                                                     BD_EBS_AXLE_LOAD
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                     139200.0
                                                       29                          NaN
                                                       104                         NaN
                         2017-03-24 11.1      53.3     96                          NaN
                         2017-03-25 11.1      53.3     33                     192900.0
...                                                                                ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                          NaN
                                                       14                          NaN
                         2022-08-27 NaN       NaN      1                           NaN
                         2022-08-28 NaN       NaN      1                           NaN
                                                       4                           NaN

                                                                                            \
measurement_value                                                     BD_EBS_AXLE_LOAD_SUM
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                         139200.0
                                                       29                              NaN
                                                       104                             NaN
                         2017-03-24 11.1      53.3     96                              NaN
                         2017-03-25 11.1      53.3     33                         192900.0
...                                                                                    ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                              NaN
                                                       14                              NaN
                         2022-08-27 NaN       NaN      1                               NaN
                         2022-08-28 NaN       NaN      1                               NaN
                                                       4                               NaN

                                                                                          \
measurement_value                                                     BD_EBS_BOOGIE_LOAD
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                            NaN
                                                       29                          344.0
                                                       104                           NaN
                         2017-03-24 11.1      53.3     96                            NaN
                         2017-03-25 11.1      53.3     33                          443.0
...                                                                                  ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                            NaN
                                                       14                            NaN
                         2022-08-27 NaN       NaN      1                             NaN
                         2022-08-28 NaN       NaN      1                             NaN
                                                       4                             NaN

                                                                                                   \
measurement_value                                                     BD_EBS_NUMBER_OF_ABS_EVENTS
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                     NaN
                                                       29                                     NaN
                                                       104                                    NaN
                         2017-03-24 11.1      53.3     96                                     NaN
                         2017-03-25 11.1      53.3     33                                     NaN
...                                                                                           ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                     NaN
                                                       14                                     NaN
                         2022-08-27 NaN       NaN      1                                      NaN
                         2022-08-28 NaN       NaN      1                                      NaN
                                                       4                                      NaN

                                                                                                                \
measurement_value                                                     BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                                  NaN
                                                       29                                                  NaN
                                                       104                                                 NaN
                         2017-03-24 11.1      53.3     96                                                  NaN
                         2017-03-25 11.1      53.3     33                                                  NaN
...                                                                                                        ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                                  NaN
                                                       14                                                  NaN
                         2022-08-27 NaN       NaN      1                                                   NaN
                         2022-08-28 NaN       NaN      1                                                   NaN
                                                       4                                                   NaN

                                                                                                               \
measurement_value                                                     BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                                 NaN
                                                       29                                                 NaN
                                                       104                                                NaN
                         2017-03-24 11.1      53.3     96                                                 NaN
                         2017-03-25 11.1      53.3     33                                                 NaN
...                                                                                                       ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                                 NaN
                                                       14                                                 NaN
                         2022-08-27 NaN       NaN      1                                                  NaN
                         2022-08-28 NaN       NaN      1                                                  NaN
                                                       4                                                  NaN

                                                                                                            \
measurement_value                                                     BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                              NaN
                                                       29                                              NaN
                                                       104                                             NaN
                         2017-03-24 11.1      53.3     96                                              NaN
                         2017-03-25 11.1      53.3     33                                              NaN
...                                                                                                    ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                              NaN
                                                       14                                              NaN
                         2022-08-27 NaN       NaN      1                                               NaN
                         2022-08-28 NaN       NaN      1                                               NaN
                                                       4                                               NaN

                                                                                                             \
measurement_value                                                     BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                               NaN
                                                       29                                               NaN
                                                       104                                              NaN
                         2017-03-24 11.1      53.3     96                                               NaN
                         2017-03-25 11.1      53.3     33                                               NaN
...                                                                                                     ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                                               NaN
                                                       14                                               NaN
                         2022-08-27 NaN       NaN      1                                                NaN
                         2022-08-28 NaN       NaN      1                                                NaN
                                                       4                                                NaN

                                                                                       \
measurement_value                                                     BD_EBS_OVERLOAD
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                         NaN
                                                       29                         NaN
                                                       104                        0.0
                         2017-03-24 11.1      53.3     96                         0.0
                         2017-03-25 11.1      53.3     33                         NaN
...                                                                               ...
62f0f724e4b03b515e4f1a9f 2022-08-26 NaN       NaN      12                         NaN
                                                       14                         0.0
                         2022-08-27 NaN       NaN      1                          0.0
                         2022-08-28 NaN       NaN      1                          NaN
                                                       4                          0.0

                                                                                                     \
measurement_value                                                     BD_EBS_TOTAL_VEHICLE_DISTANCE
device_mongo_id          start_date longitude latitude n_measurements
57ac44610bc3dc434a8a4366 2017-03-23 11.1      53.3     24                                       NaN
                                                       29                                       NaN
                                                       104                                      NaN
                         2017-03-24 11.1      53.3     96                                       NaN
                         2017-03-25 11.1      53.3     33                                       NaN

In [ ]:
sensor_bucket_pivot.reset_index(inplace=True)
sensor_bucket_pivot.columns=sensor_bucket_pivot.columns.get_level_values(1)

In [ ]:
sensor_bucket_pivot

measurement_value,,,,,,101,14,173,2,6,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,104,NaN,NaN,0.0,NaN,1.190385e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,25.0
3,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,96,NaN,NaN,0.0,NaN,1.098819e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7706241,62f0f724e4b03b515e4f1a9f,2022-08-26,NaN,NaN,12,NaN,NaN,NaN,NaN,1.170980e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1022.0,NaN
7706242,62f0f724e4b03b515e4f1a9f,2022-08-26,NaN,NaN,14,NaN,NaN,0.0,-9.044972e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,11.0
7706243,62f0f724e4b03b515e4f1a9f,2022-08-27,NaN,NaN,1,NaN,NaN,0.0,-5.722796e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
7706244,62f0f724e4b03b515e4f1a9f,2022-08-28,NaN,NaN,1,NaN,NaN,NaN,NaN,9.865931e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,NaN
7706245,62f0f724e4b03b515e4f1a9f,2022-08-28,NaN,NaN,4,NaN,NaN,0.0,-1.918499e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

In [ ]:
l=list(sensor_bucket_pivot)
l_clean=[x for x in l if x]
l_=['device_mongo_id','start_date','longitude','latitude','n_measurements'
    ]
new_cols=l_+l_clean
sensor_bucket_pivot.columns=new_cols
sensor_bucket_pivot.head()

,device_mongo_id,start_date,longitude,latitude,n_measurements,101,14,173,2,6,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,104,NaN,NaN,0.0,NaN,1.190385e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,25.0
3,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,96,NaN,NaN,0.0,NaN,1.098819e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sensor_bucket_pivot.head(30)

#missing values in longitudes and latitudes- n measurement looked for each

,device_mongo_id,start_date,longitude,latitude,101,14,173,2,6,7,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
0,57ac44610bc3dc434a8a4366,2017-03-23,11.10,53.30,NaN,NaN,0.0,NaN,1.190385e+10,2.479676e+09,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,25.0
1,57ac44610bc3dc434a8a4366,2017-03-24,11.10,53.30,NaN,NaN,0.0,NaN,1.098819e+10,2.288967e+09,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
2,57ac44610bc3dc434a8a4366,2017-03-25,11.10,53.30,NaN,NaN,0.0,NaN,1.522322e+10,3.171174e+09,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,27.0
3,57ac44610bc3dc434a8a4366,2017-03-26,11.10,53.30,NaN,NaN,0.0,NaN,1.110265e+10,2.312810e+09,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,57ac44610bc3dc434a8a4366,2017-03-27,11.10,53.30,NaN,NaN,0.0,NaN,3.548271e+09,7.391402e+08,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5,57ac44610bc3dc434a8a4366,2017-05-05,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
6,57ac44610bc3dc434a8a4366,2017-06-22,6.14,50.71,NaN,NaN,0.0,NaN,1.089052e+08,1.319500e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,285.0,0.0
7,57ac44610bc3dc434a8a4366,2017-07-07,11.10,53.30,NaN,NaN,0.0,NaN,8.012250e+08,1.668808e+08,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,5.0,-426.0,6.0
8,57ac44610bc3dc434a8a4366,2017-07-08,11.10,53.30,NaN,NaN,0.0,NaN,1.144621e+08,2.384645e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,-131.0,0.0
9,57ac44610bc3dc434a8a4366,2017-07-09,11.10,53.30,NaN,NaN,0.0,NaN,1.144624e+08,2.384626e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,84.0,0.0
10,57ac44610bc3dc434a8a4366,2017-07-10,11.10,53.30,NaN,NaN,0.0,NaN,1.144621e+08,2.384652e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,56.0,0.0
11,57ac44610bc3dc434a8a4366,2017-07-11,11.10,53.30,NaN,NaN,0.0,NaN,1.144607e+08,2.384340e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,-84.0,0.0
12,57ac44610bc3dc434a8a4366,2017-07-12,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
13,57ac44610bc3dc434a8a4366,2017-07-13,11.10,53.30,NaN,NaN,0.0,NaN,1.144617e+08,2.384604e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,103.0,0.0
14,57ac44610bc3dc434a8a4366,2017-07-14,11.10,53.30,NaN,NaN,0.0,NaN,1.144607e+08,2.384768e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,379.0,0.0
15,57ac44610bc3dc434a8a4366,2017-07-15,11.10,53.30,NaN,NaN,0.0,NaN,1.144626e+08,2.384314e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,157.0,0.0
16,57ac44610bc3dc434a8a4366,2017-07-16,11.10,53.30,NaN,NaN,0.0,NaN,1.144619e+08,2.384355e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,202.0,0.0
17,57ac44610bc3dc434a8a4366,2017-07-17,11.10,53.30,NaN,NaN,0.0,NaN,1.144611e+08,2.384038e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,333.0,0.0
18,57ac44610bc3dc434a8a4366,2017-07-18,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
19,57ac44610bc3dc434a8a4366,2017-07-19,11.10,53.30,NaN,NaN,0.0,NaN,1.144611e+08,2.384568e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,9.0,0.0
20,57ac44610bc3dc434a8a4366,2017-07-20,11.10,53.30,NaN,NaN,0.0,NaN,1.144624e+08,2.384514e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,125.0,0.0
21,57ac44610bc3dc434a8a4366,2017-07-21,11.10,53.30,NaN,NaN,0.0,NaN,1.144618e+08,2.384622e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,72.0,0.0
22,57ac44610bc3dc434a8a4366,2017-07-22,11.10,53.30,NaN,NaN,0.0,NaN,1.144625e+08,2.384448e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,63.0,0.0
23,57ac44610bc3dc434a8a4366,2017-07-23,11.10,53.30,NaN,NaN,0.0,NaN,1.144621e+08,2.384287e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,196.0,0.0
24,57ac44610bc3dc434a8a4366,2017-07-24,11.10,53.30,NaN,NaN,0.0,NaN,1.144601e+08,2.384553e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,19.0,0.0
25,57ac44610bc3dc434a8a4366,2017-07-25,11.10,53.30,NaN,NaN,0.0,NaN,1.144609e+08,2.384686e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,-1.0,0.0
26,57ac44610bc3dc434a8a4366,2017-07-26,11.10,53.30,NaN,NaN,0.0,NaN,1.144631e+08,2.384394e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,22.0,0.0
27,57ac44610bc3dc434a8a4366,2017-07-27,11.10,53.30,NaN,NaN,0.0,NaN,1.144624e+08,2.384403e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,69.0,0.0
28,57ac44610bc3dc434a8a4366,2017-07-28,11.10,53.30,NaN,NaN,0.0,NaN,1.144621e+08,2.384562e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,63.0,0.0
29,57ac44610bc3dc434a8a4366,2017-07-29,11.10,53.30,NaN,NaN,0.0,NaN,1.144613e+08,2.384368e+07,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,132.0,0.0

In [ ]:
#sensor_bucket_pivot = sensor_bucket_pivot.drop('n_measurements', axis=1)
sensor_bucket_pivot.head()

,device_mongo_id,start_date,longitude,latitude,n_measurements,101,14,173,2,6,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,104,NaN,NaN,0.0,NaN,1.190385e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,25.0
3,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,96,NaN,NaN,0.0,NaN,1.098819e+10,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sensor_bucket_grouped=sensor_bucket_pivot.groupby(['device_mongo_id',	'start_date',
                                                    'longitude',	'latitude',
                                                   ]).sum()

sensor_bucket_grouped.reset_index(inplace=True)
sensor_bucket_grouped.head()

,device_mongo_id,start_date,longitude,latitude,101,14,173,2,6,7,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,0.0,0.0,0.0,0.0,1.190385e+10,2.479676e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
1,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,0.0,0.0,0.0,0.0,1.098819e+10,2.288967e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,0.0,0.0,0.0,0.0,1.522322e+10,3.171174e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
3,57ac44610bc3dc434a8a4366,2017-03-26,11.1,53.3,0.0,0.0,0.0,0.0,1.110265e+10,2.312810e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57ac44610bc3dc434a8a4366,2017-03-27,11.1,53.3,0.0,0.0,0.0,0.0,3.548271e+09,7.391402e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Data Summaries
sensor_bucket_grouped.describe()

,longitude,latitude,101,14,173,2,6,7,BD_EBS_AVERAGE_BRAKE_PRESSURE,BD_EBS_AXLE_LOAD,...,BD_EBS_NUMBER_OF_ABS_EVENTS,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS,BD_EBS_OVERLOAD,BD_EBS_TOTAL_VEHICLE_DISTANCE,BD_EBS_WHEEL_BASED_VEHICLE_SPEED,BD_GPS_HEIGHT,coupled
count,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2712927.0,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,...,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06,2.712927e+06
mean,9.570120e+00,5.248280e+01,-4.821898e+08,4.353659e+04,0.0,-3.921850e+08,1.208770e+10,2.227860e+09,1.232291e+03,8.611676e+05,...,6.052954e+04,9.963372e-02,8.293601e+01,7.625403e+01,5.085794e+02,2.416567e-01,1.573333e+07,1.280405e+03,1.697779e+04,4.312293e+01
std,4.336215e+00,3.402342e+00,2.751270e+11,5.405660e+07,0.0,4.203495e+11,3.431368e+10,6.702485e+09,6.051735e+03,3.457877e+06,...,9.961115e+06,3.533113e+00,2.524598e+02,1.055375e+03,1.777854e+04,2.568764e+01,7.352275e+07,6.777543e+03,7.487560e+04,1.783992e+02
min,-2.398000e+01,3.606000e+01,-5.978136e+13,0.000000e+00,0.0,-6.925436e+13,0.000000e+00,-4.416004e+11,0.000000e+00,-9.182310e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.650430e+05,0.000000e+00
25%,8.300000e+00,5.020000e+01,-1.222028e+10,0.000000e+00,0.0,-3.961303e+10,1.091924e+08,1.148491e+07,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
50%,9.590000e+00,5.226000e+01,0.000000e+00,0.000000e+00,0.0,0.000000e+00,7.717614e+09,1.098376e+09,1.950000e+02,1.905000e+05,...,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.260853e+06,1.180000e+02,2.453000e+03,4.000000e+00
75%,1.106000e+01,5.546000e+01,1.007606e+10,0.000000e+00,0.0,3.712789e+10,1.570055e+10,3.055203e+09,1.330000e+03,1.231900e+06,...,8.900000e+01,0.000000e+00,1.130000e+02,0.000000e+00,2.060000e+02,0.000000e+00,1.683381e+07,1.732000e+03,1.290700e+04,6.600000e+01
max,1.431600e+02,7.100000e+01,5.990112e+13,8.375186e+10,0.0,7.652901e+13,5.809416e+12,2.285281e+12,2.776480e+06,6.537785e+08,...,6.026930e+09,3.053000e+03,4.160400e+04,6.452960e+05,1.171159e+07,9.803000e+03,1.437724e+10,2.108098e+06,2.254316e+07,3.822600e+04

In [ ]:
sensor_bucket_grouped.to_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide_sum.csv')

In [ ]:
import gc

del sensor_bucket_pivot
del sensor_bucket_grouped
del sensor_bucket

gc.collect()

22

In [ ]:
sensors_min=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide_min.csv')
sensors_max=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide_max.csv')
sensors_avg=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide.csv')
sensors_sum=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide_sum.csv')

In [ ]:
print(sensors_min.duplicated().sum())
print(sensors_max.duplicated().sum())
print(sensors_avg.duplicated().sum())
print(sensors_sum.duplicated().sum())

0
0
0
0

In [ ]:
list(sensors_avg)

['Unnamed: 0',
 'device_mongo_id',
 'start_date',
 'longitude',
 'latitude',
 '101',
 '14',
 '173',
 '2',
 '6',
 '7',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE',
 'BD_EBS_AXLE_LOAD',
 'BD_EBS_AXLE_LOAD_SUM',
 'BD_EBS_BOOGIE_LOAD',
 'BD_EBS_NUMBER_OF_ABS_EVENTS',
 'BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS',
 'BD_EBS_OVERLOAD',
 'BD_EBS_TOTAL_VEHICLE_DISTANCE',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED',
 'BD_GPS_HEIGHT',
 'coupled']

In [ ]:
min_cols=['device_mongo_id',
 'start_date','longitude',
 'latitude','BD_GPS_HEIGHT']
max_cols=['device_mongo_id',
 'start_date','longitude',
 'latitude','101','BD_EBS_AXLE_LOAD','BD_EBS_AXLE_LOAD_SUM','BD_EBS_BOOGIE_LOAD','BD_EBS_AVERAGE_BRAKE_PRESSURE','BD_GPS_HEIGHT', 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED']
avg_cols=['device_mongo_id',
 'start_date','longitude',
 'latitude','coupled','BD_EBS_AXLE_LOAD','BD_EBS_AXLE_LOAD_SUM','BD_EBS_BOOGIE_LOAD','BD_EBS_AVERAGE_BRAKE_PRESSURE','173','BD_GPS_HEIGHT', 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED']
sum_cols=['device_mongo_id','longitude',
 'latitude',
 'start_date', 'BD_EBS_NUMBER_OF_ABS_EVENTS',
 'BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS',
 'BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS',]
sensors_min=sensors_min[min_cols]
sensors_max=sensors_max[max_cols]
sensors_avg=sensors_avg[avg_cols]
sensors_sum=sensors_sum[sum_cols]

In [ ]:
print(sensors_min.duplicated().sum())
print(sensors_max.duplicated().sum())
print(sensors_avg.duplicated().sum())
print(sensors_sum.duplicated().sum())

0
0
0
0

In [ ]:
id_cols=['device_mongo_id','start_date','longitude','latitude']
min_cols = [col if col in id_cols else col+"_min" for col in min_cols]
max_cols = [col if col in id_cols else col+"_max" for col in max_cols]
avg_cols = [col if col in id_cols else col+"_avg" for col in avg_cols]
sum_cols = [col if col in id_cols else col+"_sum" for col in sum_cols]

sensors_min.columns=min_cols
sensors_max.columns=max_cols
sensors_avg.columns=avg_cols
sensors_sum.columns=sum_cols
sensors_avg

,device_mongo_id,start_date,longitude,latitude,coupled_avg,BD_EBS_AXLE_LOAD_avg,BD_EBS_AXLE_LOAD_SUM_avg,BD_EBS_BOOGIE_LOAD_avg,BD_EBS_AVERAGE_BRAKE_PRESSURE_avg,173_avg,BD_GPS_HEIGHT_avg,BD_EBS_WHEEL_BASED_VEHICLE_SPEED_avg
0,57ac44610bc3dc434a8a4366,2017-03-23,11.10,53.30,0.240385,5800.000000,5800.000000,11.862069,0.000000,0.0,0.000000,0.000000
1,57ac44610bc3dc434a8a4366,2017-03-24,11.10,53.30,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
2,57ac44610bc3dc434a8a4366,2017-03-25,11.10,53.30,0.203008,5845.454545,5845.454545,13.424242,0.000000,0.0,0.000000,0.000000
3,57ac44610bc3dc434a8a4366,2017-03-26,11.10,53.30,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4,57ac44610bc3dc434a8a4366,2017-03-27,11.10,53.30,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2712922,62f0d1f2e4b03b515e4f1a9a,2022-08-08,4.84,46.96,0.823529,9755.724138,9755.724138,0.000000,4.000000,0.0,201.500000,36.413793
2712923,62f0f724e4b03b515e4f1a9f,2022-08-17,4.34,43.81,0.712121,7686.264151,7686.264151,0.000000,7.100000,0.0,216.600000,46.716981
2712924,62f0f724e4b03b515e4f1a9f,2022-08-18,3.72,43.42,0.724138,9250.844444,9250.844444,0.000000,8.159091,0.0,28.685185,41.977778
2712925,62f0f724e4b03b515e4f1a9f,2022-08-18,5.92,43.13,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
2712926,62f0f724e4b03b515e4f1a9f,2022-08-19,3.11,43.33,0.807692,16204.100000,16204.100000,0.000000,3.500000,0.0,98.400000,48.450000

In [ ]:
sensors_int=pd.merge(sensors_min,sensors_max,on=['device_mongo_id',	'start_date',
                                                 'longitude','latitude'
                                                 ],suffixes=('_min', '_max'))

In [ ]:
sensors_int.head()

,device_mongo_id,start_date,longitude,latitude,BD_GPS_HEIGHT_min,101_max,BD_EBS_AXLE_LOAD_max,BD_EBS_AXLE_LOAD_SUM_max,BD_EBS_BOOGIE_LOAD_max,BD_EBS_AVERAGE_BRAKE_PRESSURE_max,BD_GPS_HEIGHT_max,BD_EBS_WHEEL_BASED_VEHICLE_SPEED_max
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,0.0,0.0,5800.0,5800.0,13.0,0.0,0.0,0.0
1,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,0.0,0.0,5900.0,5900.0,14.0,0.0,0.0,0.0
3,57ac44610bc3dc434a8a4366,2017-03-26,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57ac44610bc3dc434a8a4366,2017-03-27,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
list(sensors_int)

['device_mongo_id',
 'start_date',
 'longitude',
 'latitude',
 'BD_GPS_HEIGHT_min',
 '101_max',
 'BD_EBS_AXLE_LOAD_max',
 'BD_EBS_AXLE_LOAD_SUM_max',
 'BD_EBS_BOOGIE_LOAD_max',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE_max',
 'BD_GPS_HEIGHT_max',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED_max']

In [ ]:
import gc

del sensors_min
del sensors_max

gc.collect()

245

In [ ]:
sensors_fin=pd.merge(sensors_int,sensors_avg,on=['device_mongo_id',	'start_date',
                                                 'longitude',	'latitude'
                                                 ],suffixes=("", '_avg'))

In [ ]:
sensors_fin.head()

,device_mongo_id,start_date,longitude,latitude,BD_GPS_HEIGHT_min,101_max,BD_EBS_AXLE_LOAD_max,BD_EBS_AXLE_LOAD_SUM_max,BD_EBS_BOOGIE_LOAD_max,BD_EBS_AVERAGE_BRAKE_PRESSURE_max,BD_GPS_HEIGHT_max,BD_EBS_WHEEL_BASED_VEHICLE_SPEED_max,coupled_avg,BD_EBS_AXLE_LOAD_avg,BD_EBS_AXLE_LOAD_SUM_avg,BD_EBS_BOOGIE_LOAD_avg,BD_EBS_AVERAGE_BRAKE_PRESSURE_avg,173_avg,BD_GPS_HEIGHT_avg,BD_EBS_WHEEL_BASED_VEHICLE_SPEED_avg
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,0.0,0.0,5800.0,5800.0,13.0,0.0,0.0,0.0,0.240385,5800.000000,5800.000000,11.862069,0.0,0.0,0.0,0.0
1,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,0.0,0.0,5900.0,5900.0,14.0,0.0,0.0,0.0,0.203008,5845.454545,5845.454545,13.424242,0.0,0.0,0.0,0.0
3,57ac44610bc3dc434a8a4366,2017-03-26,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,57ac44610bc3dc434a8a4366,2017-03-27,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [ ]:
list(sensors_fin)

['device_mongo_id',
 'start_date',
 'longitude',
 'latitude',
 'BD_GPS_HEIGHT_min',
 '101_max',
 'BD_EBS_AXLE_LOAD_max',
 'BD_EBS_AXLE_LOAD_SUM_max',
 'BD_EBS_BOOGIE_LOAD_max',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE_max',
 'BD_GPS_HEIGHT_max',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED_max',
 'coupled_avg',
 'BD_EBS_AXLE_LOAD_avg',
 'BD_EBS_AXLE_LOAD_SUM_avg',
 'BD_EBS_BOOGIE_LOAD_avg',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE_avg',
 '173_avg',
 'BD_GPS_HEIGHT_avg',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED_avg']

In [ ]:
import gc

del sensors_int
del sensors_avg

gc.collect()

88

In [ ]:
sensors_fin_=pd.merge(sensors_fin,sensors_sum,on=['device_mongo_id',	'start_date',
                                                 'longitude',	'latitude'
                                                 ],suffixes=("", '_sum'))

In [ ]:
import gc

del sensors_fin
del sensors_sum

gc.collect()

87

In [ ]:
sensors_fin_.head()

,device_mongo_id,start_date,longitude,latitude,BD_GPS_HEIGHT_min,101_max,BD_EBS_AXLE_LOAD_max,BD_EBS_AXLE_LOAD_SUM_max,BD_EBS_BOOGIE_LOAD_max,BD_EBS_AVERAGE_BRAKE_PRESSURE_max,...,BD_EBS_BOOGIE_LOAD_avg,BD_EBS_AVERAGE_BRAKE_PRESSURE_avg,173_avg,BD_GPS_HEIGHT_avg,BD_EBS_WHEEL_BASED_VEHICLE_SPEED_avg,BD_EBS_NUMBER_OF_ABS_EVENTS_sum,BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS_sum,BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS_sum,BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS_sum,BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS_sum
0,57ac44610bc3dc434a8a4366,2017-03-23,11.1,53.3,0.0,0.0,5800.0,5800.0,13.0,0.0,...,11.862069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,57ac44610bc3dc434a8a4366,2017-03-24,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,57ac44610bc3dc434a8a4366,2017-03-25,11.1,53.3,0.0,0.0,5900.0,5900.0,14.0,0.0,...,13.424242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,57ac44610bc3dc434a8a4366,2017-03-26,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57ac44610bc3dc434a8a4366,2017-03-27,11.1,53.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
list(sensors_fin_)

['device_mongo_id',
 'start_date',
 'longitude',
 'latitude',
 'BD_GPS_HEIGHT_min',
 '101_max',
 'BD_EBS_AXLE_LOAD_max',
 'BD_EBS_AXLE_LOAD_SUM_max',
 'BD_EBS_BOOGIE_LOAD_max',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE_max',
 'BD_GPS_HEIGHT_max',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED_max',
 'coupled_avg',
 'BD_EBS_AXLE_LOAD_avg',
 'BD_EBS_AXLE_LOAD_SUM_avg',
 'BD_EBS_BOOGIE_LOAD_avg',
 'BD_EBS_AVERAGE_BRAKE_PRESSURE_avg',
 '173_avg',
 'BD_GPS_HEIGHT_avg',
 'BD_EBS_WHEEL_BASED_VEHICLE_SPEED_avg',
 'BD_EBS_NUMBER_OF_ABS_EVENTS_sum',
 'BD_EBS_NUMBER_OF_AGGRESSIVE_BRAKE_EVENTS_sum',
 'BD_EBS_NUMBER_OF_EMERGENCY_BRAKE_EVENTS_sum',
 'BD_EBS_NUMBER_OF_NORMAL_BRAKE_EVENTS_sum',
 'BD_EBS_NUMBER_OF_PARKING_BRAKE_EVENTS_sum']

In [ ]:
sensors_fin_.to_csv('/content/drive/MyDrive/Colab Notebooks/KRONE/sensor_wide_final_new.csv')

In [ ]:
sensors_fin_.duplicated().sum()

0

In [ ]:
import gc

del sensors_fin_

gc.collect()

65